header {
    border: 1px black;
    height: 300px;
    text-align: center;
    width: 80%;
    font-size: 20px;
    margin: 40px auto;
}

.underscore {
    border: 1px black;
    height: 150px;
    text-align: center;
    width: 80%;
    font-size: 200px;
    margin: 40px auto;
}

.rightGuess {
    border: 1px black;
    height: 150px;
    text-align: center;
    width: 80%;
    font-size: 50px;
    margin: 40px auto;
}

.wrongGuess {
    border: 1px black;
    height: 150px;
    text-align: center;
    width: 80%;
    font-size: 50px;
    margin: 40px auto;
}

.jumbotron {
    opacity: 0.7;

}
.container {
    font-family: 'WaltographRegular';
    font-weight: normal;
    font-style: normal;
    color: black;
    font-style: bold;
    font-size: 40px;
    background-image: url("../images/background1.jpg");
}

#panel-title {
    font-size: 40px;
}

#wordToGuess{
    font-size: 100px;
    opacity: 0.7;
    
}

.panel-default {
    opacity: 0.7;
}

